<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<!-- CSS読込 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/user/signin.css}">
	<!-- JS読込 -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title>ユーザー登録</title>
</head>
<body class="bg-light">
		<a th:href="@{/user/googlesignup}">
			<p>
				<input type="submit" value="Googleアカウントで登録" class="btn btn-primary" />
			</p>
		</a>
		<a th:href="@{/user/signup}">
			<p>
				<input type="submit" value="メールアドレスで登録" class="btn btn-primary"/>
			</p>
		</a>
</body>
</html>