body {
	background-image: url("/images/43451.png");
	background-position: center;
	background-size: 3000px;
	line-height: 60px;
}

.text-center {
	border: solid 2px lightgray;
	border-radius: 18px;
	background-color: #efefef;
	width: 400px;
	height: 500px;
	margin-left: 750px;
	margin-top: 150px;
}

.content-box-header {
	font-size: 40px;
	padding-top: 20px;
}

.content-box-main {
	font-size: 20px;
	text-align: left;
	margin-top: 25px;
    padding-left:20px;
	}

.form-control {
	width: 350px;
	height: 40px;
	margin-left: 20px;
}

.btn.btn-primary {
	width: 200px;
	height: 50px;
	background-color: red;
	margin-top: 20px;
}

a {
	font-size: 20px;
}